<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
<link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-responsive.css">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
<!-- nivo slider -->
<link rel="stylesheet" href="{{ site.baseurl }}/nivo-default-theme/default.css" type="text/css" />
<link rel="stylesheet" href="{{ site.baseurl}}/css/nivo-slider.css" type="text/css" />

</head>
<body data-spy="scroll" data-target="#navbar">

{% if site.baseurl == null %}
{% assign linkhome = "/" %}
{% else %}
{% assign linkhome = site.baseurl %}
{% endif %}

<header id="overview" class="container">
  <div class="row">
    <div class="span7">
      <img src="{{site.baseurl}}/img/dorkbot_brighton_logo.png" alt="Dorkbot Brighton"/>
    </div>
    <p class="lead span5">doing strange things with electricity</p>
  </div>
</header>

<div class="container">
